@import "../../../assets/scss/breakpoints.module.scss";
@import "../../../assets/scss/common.module.scss";
@import "../../../assets/scss/colors.module.scss";

.padding {
  padding: 1.5rem;
  @include breakpoint(sm) {
    padding: 1rem;
  }
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  @include breakpoint(sm) {
    grid-template-columns: 1fr;
  }
}
.row_2_3 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;

  @include breakpoint(sm) {
    grid-template-columns: 1fr;
  }
}

.current_location_btn {
  width: 3rem;
  height: 3rem;
  position: absolute;
  bottom: 2rem;
  left: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: $box_shadow;
  border-radius: $border_radius;
  background-color: #fff;

  border: none;
  cursor: pointer;
}

.counter_container {
  label {
    color: $text_primary;
    margin-inline-start: 5px;
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 4px;
    line-height: 1.25;
    display: block;
  }

  .counter_input_container {
    font-family: "Poppins", sans-serif;

    // height: 46.45px;
    border: 1px solid $text_primary;
    border-radius: 6px;
    background-color: transparent;

    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      flex-grow: 1;
      text-align: center;
      font-weight: bold;
    }
  }
}

.places_auto_complete_container {
  position: relative;
  // left: 1rem;
  // right: 1rem;
  // top: 1rem;

  // input {
  //   width: 100%;
  //   padding-inline: 1em;
  //   padding-block: 0.85em;

  //   background-color: #fff;
  //   font-family: "Poppins", sans-serif;
  //   border: none;
  //   outline: none;
  //   border-radius: 6px;
  //   box-shadow: $box_shadow;
  // }

  // input:focus {
  //   outline: 1px solid $primary;
  // }
  ul {
    margin: 0;
    padding: 0;
  }

  .suggestions_container {
    width: 100%;
    position: absolute;
    z-index: 5;
    max-height: 12rem;
    overflow: auto;

    background-color: #fff;
    border-radius: 6px;
    box-shadow: $box_shadow;

    padding-block: 0.5em;

    li {
      font-size: 0.9em;
      padding: 0.25em 0.5em;

      cursor: pointer;
    }

    li:hover {
      background-color: $bg;
    }
  }

  .status_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;

    * {
      text-align: center;
    }
  }
}
