.header {
  &,
  & > div {
    display: flex;
    align-items: center;
  }
  gap: 1.25rem;

  margin-block: 1rem 0.5rem;

  img {
    object-fit: contain;
    margin-inline-end: 4px;
  }

  p {
    font-weight: bold;
    font-size: 0.9em;
  }
}
