.container {
  // display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  gap: 1.25rem;

  & > * {
    aspect-ratio: 1;
  }

  .card {
    height: 100%;
    width: 145px;
    margin-bottom: 0 !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  .body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }

  * {
    text-align: center;
  }
}
